.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    width: 100px;
    height: 70px;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }
  